.window {
    background-image: url('./images/glass.png');
    background-size: cover;
    background-position: center;
    background-color: rgb(219,241,254, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}