$button-base-color: radial-gradient(ellipse 90% 50% at top center,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%),
  radial-gradient(ellipse 90% 50% at bottom center,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%),
  linear-gradient(to bottom,
    #D9DDE0 45%,
    #B8C4CE 46%);

$button-hover-color: radial-gradient(ellipse 90% 50% at top center,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%),
  radial-gradient(ellipse 90% 50% at bottom center,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%),
  linear-gradient(to bottom,
    #C9F6FF 45%,
    #9ADDFF 46%);

$button-active-color: radial-gradient(ellipse 90% 50% at top center,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%),
  radial-gradient(ellipse 90% 50% at bottom center,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%),
  linear-gradient(to bottom,
    #8ACCED 45%,
    #4FA1D2 46%);

@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: local('Tahoma'), url('https://fonts.cdnfonts.com/s/57171/tahoma.woff') format('woff');
}

* {
  font-family: 'Tahoma', sans-serif;
  font-size: 12px;
  color: #151c55;
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAVCAYAAAByrA+0AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAADKADAAQAAAABAAAAFQAAAAB+/A+uAAAAiElEQVQ4EaXT0QrAIAgFUBv7/192aVPmzUpY0EPtHi1GRETcZ3lcb7KMFDBrvoSsA1WRAzlaBQVQQRM4oRTs0BKs0BZk6AgQ3bKxGq01/MRThyQkymcASRg7kIM3rJUMZn9ewSc8VcQN64C36zXGFnYRgGEsGtancG8wnokd244UqvxdSAt/jQ+mFjUWjhP7ygAAAABJRU5ErkJggg=='), auto !important;
}

body {
  background-image: url('../images/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
}